@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900,900i");

// mixins
@mixin flex($align) {
  display: flex;
  justify-content: flex-start;
  align-items: $align;
  flex-wrap: wrap;
}

// code
html {
  font-size: 25px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

body {
}

h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1em;
}
p,
a {
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}

section {
  width: calc(100vw - 200px);
  min-height: 100vh;
  padding: none;
  margin: 0 0 120px 200px;
  div {
    padding: 16px;
    margin: 0;
  }
}

.menu {
  margin: 0;
  border-right: 1.5px solid rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;

  background: white;

  div {
    height: 33.333vh;
    width: 100%;

    h2,
    a {
      display: block;
      line-height: 1.5em;
    }

    div:last-child {
      @include flex(center);
      background: blue;
    }
  }
}

.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  div {
    height: auto;
    width: 80%;
  }
}
