// utils -----------------------------------------------------------------------------------------
  @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

  $black: #222;

  // .orange-crush {
  //   $color-1: #f8a561;
  //   $color-2: #fe856a;
  //   $color-3: #f1dcc8;
  //   $color-4: #e4f7cc;
  // }

  // .blue-green {
  //   $color-1: #ecff20;
  //   $color-2: #3fb2e0;
  //   $color-3: #eafeca;
  //   $color-4: #13a155;
  // }

  // .og {
  // $color-1: #ef798a;
  // $color-2: #f92a80;
  // $color-3: #f1d302;
  // $color-4: #235789;
  // }

  // .pinks {
    $color-1: #f92a80;
    $color-2: #ef798a;
    $color-3: #f7d1e1;
    $color-4: #ff84b7;
  // }



// homepage --------------------------------------------------------------------------------------
  html { font-size: 16px; }

  body {
    font-family: 'Anonymous Pro', monospace;
    color: $black;
    line-height: 1.2;
  }

  p { letter-spacing: 0.75px; }

  p + p { margin-top: 1rem;}

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;

    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2rem; 
    font-weight: 700;
    line-height: 1.2;
  }

  a {
    color: $black;
    font-size: 1.2rem;
    line-height: 1.2;
    text-decoration: none; 
    display: block;
    font-weight: 700;

    &:hover { text-decoration: underline; }
    &:nth-of-type(1n):hover { color: $color-1; }
    &:nth-of-type(2n):hover { color: $color-2; }
    &:nth-of-type(4n + 1):hover { color: $color-3; }
    &:nth-of-type(5n):hover { color: $color-4; }
  }
  
  .homepage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 26.25rem;
    padding: 1rem;

    .container {
      overflow: scroll;
      scroll-behavior: smooth;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar { display: none; }

      border: solid 10px $color-4;
      background-color: transparentize($color-4, 0.90);
      box-sizing: border-box;
      padding: 1rem;

      height: 80vh;
      max-height: 35rem;

      div + div { margin-top: 2rem; }
    }
  }

  .info,
  .projects {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .info {
    text-align: right;
    justify-content: center;
  }

  .projects {
    a + a { margin-top: 1rem; }
  }

  .links {
    margin-top: 1.2rem;
  }

  span {
    transition: color 15s;
    &:hover {transition: 0s; }

    &:nth-child(1n):hover { color: $color-1; }
    &:nth-child(2n):hover { color: $color-2; }
    &:nth-child(4n + 1):hover { color: $color-3; }
    &:nth-child(5n):hover { color: $color-4; }
  }

// media queries ---------------------------------------------------------------------------------
  @media (min-width: 425px){
    html { font-size: 20px; }
  }

  @media (min-width: 1400px){
    html { font-size: 24px; }
  }

  @media (min-width: 1800px){
    html { font-size: 32px; }
  }

