  //font
  @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700,700i');

	// colors
	$pink1: #F92A80;
	$pink2: #EF798A;
	$pink3: #F7D1E1;
	$pink4: #FF84B7;
	$pink5: #F7A9A8;
	$yellow: #f1d302;
	$blue: #235789;
  $black: #000;

  html {font-size: 24px;}

  a{
    color: $black;
    text-decoration: none;
    &:hover{text-decoration:underline;}
  }

  h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    line-height: 1.2;
  }

  h1 {
    font-size: 2.074em;
    font-weight: 700;
  }

  h2 {font-size: 1.728em;}
  h3 {font-size: 1.44em;}
  h4 {font-size: 1.2em;}
  small, .text_small {font-size: 0.833em;}

  h1{
    span:nth-child(1n){color: $pink1;}
    span:nth-child(2n){color: $pink2;}
    span:nth-child(7n-1){color: $yellow;}
    span:nth-child(4n+1){color: $blue;}
  }

  p, h2, h3, h4, h5{
    span{transition: all 30s;}
    span:hover{transition: color 0s;}
    span:hover{font-size: 30px;}
    span:nth-child(1n):hover{color: $pink1;}
    span:nth-child(2n):hover{color: $pink2;}
    span:nth-child(7n-1):hover{color: $pink4;}
    span:nth-child(4n+1):hover{color: $blue;}
    span:nth-child(5n):hover{color: $yellow;}
  }

  body {
    background-color: white;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: $black;

    cursor: crosshair;
  }

  div.contact{
    top: 0;
    right: 0;
    position: fixed;
    margin: 20px;

    p, a{font-size: 0.833em;}
  }

  section.main{
    max-width: 27vw;
    max-height: 90vh;
    margin: 50vh auto 0 auto;

    // position: fixed;
    // top: 50vh;
    // left: 50vw;
    transform: translateY(-50%);
    // background-color: green;

    // display: block;
  }

  section.projects {
    // top: 80vh;
    text-align: center;
    margin: 0 auto;
    // background-color: grey;
    width: 80vw;
    // position: fixed;
    // top: 50%;
    // right: 0;
    // margin-right: 40px;
    // transform: translateY(-50%);

    // div:nth-child(even){text-align: right;}
    div a{display: block;}
    div a, p, h1, h2, h3, h4{margin: 0;}
    div{
      text-align: left;
      margin: 10px;
    }

    margin-bottom: 40px;
  }

  section.show{
    // position: fixed;
    background-color: yellow;
    max-width: 500px;
    text-align: right;
    // right: 0;
    // top: 50%;
    // left: 0;
    // margin-left: 40px;
    // transform: translateY(-50%);

  }


    nav {
      margin-bottom: 20px;
      p{
        margin: 0;
        font-weight: 700;
        font-style: italic;
      }
      a {
        font-weight: 500;
      }
    }


























	// p, nav{margin-bottom:30px}
	// h1{font-size: 40px;}
	// h2{
	// 	font-size: 32px;
	// 	margin:0;
	// }

	// main{
	// 	max-width: 30vw;
	// 	max-height: 90vh;
	// 	margin: auto;
	// 	text-align:right;
	// 	overflow-y:scroll;
  //
  //
	// 	position: fixed;
	// 	top: 45%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
  //
	// 	nav{
	// 		max-width: 100%;
	// 		display: flex;
	// 		justify-content: flex-end;
	// 		align-items: center;
	// 		flex-wrap:wrap;
	// 		display:block;
  //
	// 		a, p{
	// 			display:block;
	// 		}
  //
	// 		img{
	// 			height: 40px;
	// 			margin-left: 15px;
	// 			display:none;
	// 			}
	// 		}
  //
	// 		section{
	// 			margin-bottom:30px;
	// 		}


// }

	  @media (max-width: 1000px){
			main{
				max-width:100vw;

				nav.first{margin-top: 104px;}

				a{font-weight: 600;}

				p, a{font-size:54px;}
				h1{font-size: 74px;}
				h2{font-size: 64px;}
				h1, h2{
					span:nth-child(1n){color: $pink1;}
					span:nth-child(2n){color: $pink2;}
					span:nth-child(7n-1){color: $yellow;}
					span:nth-child(4n+1){color: $blue;}
				}
			}

		}
