  //font
  @import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700,700i');

	// colors
	$pink1: #F92A80;
	$pink2: #EF798A;
	$pink3: #F7D1E1;
	$pink4: #FF84B7;
	$pink5: #F7A9A8;
	$yellow: #f1d302;
	$blue: #235789;

  // mixins
  @mixin colors() {
    span{transition: all 30s;}
    span:hover{transition: color 0s;}
    span:nth-child(1n):hover{color: $pink1;}
    span:nth-child(2n):hover{color: $pink2;}
    span:nth-child(7n-1):hover{color: $pink4;}
    span:nth-child(4n+1):hover{color: $blue;}
    span:nth-child(5n):hover{color: $yellow;}
  }

  @mixin flex($justify){
    display: flex;
    justify-content: $justify;
    align-items: center;
  }

  // * { margin:0; padding:0; }
  html {font-size: 24px;}
  body {
    background-color: white;
    font-family: 'Anonymous Pro', monospace;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    color: black;
    cursor: crosshair;
    // margin: 40px;
  }

  a{
    color: black;
    text-decoration: none;

    &:hover{text-decoration: line-through;}
  }

  h1, h2, h3, h4, h5, a, .dropbtn {
    margin: 0;
    font-family: futura;

    font-weight: 700;
    line-height: 1.2;

    @include colors();
  }

  h1 {
    font-size: 2.074em;
    font-weight: 700;
    @include colors();
  }

  h2 {font-size: 1.728em;}
  h3 {font-size: 1.44em;}
  h4 {font-size: 1.2em;}
  small, .text_small {font-size: 0.833em;}


  header{
    @include flex(space-between);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    // z-index: 5;
    div{margin: 10px 20px 40px 20px;}

    nav{
      margin: 20px 20px 40px 20px;
      text-align: right;
      p, a, .dropbtn {font-size: 0.833em;}

      .dropbtn {
        border: none;
        background-color: rgba(0, 0, 0, 0);
      }
      .dropdown {
        position: relative;
        display: inline-block;
      }

      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        // background-color: #f1f1f1;
        // min-width: 160px;
        // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;

      }

      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding-top: 12px;
        text-decoration: none;
        // text-align:right;
        display: block;
        transition: all 1s;
      }

      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {
        // background-color: #ddd;
        text-decoration: underline;
      }

      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {display: block;}

      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover .dropbtn {
        text-decoration: underline;
      }
          }
  }



  section.copy{
    @include flex(center);
    min-height: 100vh;
    width: 33.333vw;

    position: fixed;
    top: 0;
    left: 0;

    // background-color: orange;
  }

  section.projects{
    @include flex(space-between);
    // flex-wrap: wrap;
    // overflow: scroll;
    // position: fixed;
    // top: 0;
    // left: 0;
    margin-left: 33.333vw;
    min-height: 100vh;
    max-height: 100%;
    width: 66.666vw;

    // background-color: blue;

    div.content{
      @include flex(center);
      flex-wrap: wrap;
      // min-height: 100vh;
      width: 50%;
      // border: 5px solid black;
      // background-color: pink;

      img{max-width: 350px;}
      h3, p{
        margin:0;
      }
    }
  }
