@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700,700i|IBM+Plex+Mono:400,600,600i,700,700i|Source+Code+Pro:400,700,900|Space+Mono:400,700,700i");

// 	font-family: 'Source Code Pro', monospace;
// 	font-family: 'Space Mono', monospace;
// 	font-family: 'Anonymous Pro', monospace;
// 	font-family: 'IBM Plex Mono', monospace;

// colors
$pink1: #f92a80;
$pink2: #ef798a;
$pink3: #f7d1e1;
$pink4: #ff84b7;
$pink5: #f7a9a8;
$yellow: #f1d302;
$blue: #235789;

body {
  font-family: "Anonymous Pro", monospace;
  font-size: 24px;
  cursor: crosshair;
  overflow: hidden;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  // padding-bottom: 1px;

  // border-bottom: 1px solid black;
  &:hover {
    text-decoration: underline;
  }
}

p {
  font-weight: 300;
}

p,
nav {
  margin-bottom: 24px;
}

h1,
h2,
h3 {
  font-weight: bolder;
  margin-bottom: 36px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
  margin: 0;
}

main {
  width: 60vw;
  height: auto;
  margin: auto;
  text-align: right;
  overflow-y: scroll;
  cursor: crosshair;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  nav {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    display: block;

    a,
    p {
      display: block;
    }

    img {
      height: 40px;
      margin-left: 15px;
      display: none;
    }
  }

  section {
    margin-bottom: 30px;

    a {
      display: block;
      margin: 30px 0;
    }
  }

  p,
  h1,
  h2 {
    span {
      transition: color 15s;
    }

    span:hover {
      transition: color 0s;
    }
    span:nth-child(1n):hover {
      color: $pink1;
    }
    span:nth-child(2n):hover {
      color: $pink2;
    }
    // span:nth-child(7n-1):hover{color: $pink3;}
    span:nth-child(7n-1):hover {
      color: $pink4;
    }
    // span:nth-child(1n):hover{color: $pink5;}
    span:nth-child(4n + 1):hover {
      color: $blue;
    }
    span:nth-child(5n):hover {
      color: $yellow;
    }
  }
}

main.projects {
  a {
    font-weight: normal;
    text-decoration: underline;
  }

  nav a {
    font-weight: bold;
    text-decoration: none;
  }
}

@media (max-width: 1000px) {
  main {
    max-width: 100vw;
    margin-top: 24px;

    nav.first {
      margin-top: 104px;
    }

    // a {
    //   font-weight: 600;
    // }
    //
    // p,
    // a {
    //   font-size: 54px;
    // }
    // h1 {
    //   font-size: 74px;
    // }
    // h2 {
    //   font-size: 64px;
    // }
    h1,
    h2 {
      span:nth-child(1n) {
        color: $pink1;
      }
      span:nth-child(2n) {
        color: $pink2;
      }
      span:nth-child(7n-1) {
        color: $yellow;
      }
      span:nth-child(4n + 1) {
        color: $blue;
      }
    }
  }
}
